
.cStripping1{
    background-color: #e6ffe6;
    color: black
  }
  
  .cStripping2{
    background-color: #FFF;
    color: black
  }
  
  .cStatus_0{
    background-color: red;
    color: white 
  }
  
  .cStatus_1{
    background-color: orange;
    color: white 
  }
  
  .cStatus_2{
    background-color: yellow;
    color: white 
  }
  
  .cStatus_3{
    background-color: green;
    color: white
  }
  